header nav {
  padding: 12px 25px;
}

header ul li a{
  color: black ;
  font-size: 17px ;
  margin-left: 50px ;
}

header ul li a:hover{
  text-decoration: underline;
}

.card-body h5{
  font-size: 48px;
  font-weight: 400;
}

.card-body h5 span {
  font-size: 40px;
  opacity: 0.5;
}

.card-text span{
  display: block;
}

.card-body button{
  width: 100% ;
}

.card-block{
  max-width: 960px;
  min-width: 482px;
}

.card-block .col{
  min-width: 220px;
}

.container {
  padding-bottom: 80px;
}


footer img {
  width: 64px;
  object-fit: cover;
  object-position: center;
}

footer ul a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

footer ul a:hover{
  text-decoration: underline;
  opacity: 1;
}

footer .container{
  max-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

footer .row div{
  margin-bottom: 12px;
}